DISCORD_TOKEN=MTUyMDI4MTg1ODkxNzY2Mjc1MA.GngSjS.KI-cSHHDL2MZtZl8BtDvxK3eGmnTYRrHDVnXZM
DISCORD_USER_ID=1177248485733568543
GEMINI_API_KEY=AIzaSyCQukY9CIDe7moHRzwcRp8usKTf0fiVRGM
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
IMAP_SERVER=imap.gmail.com
SMTP_SERVER=smtp.gmail.com
TZ=Asia/Jakarta
RESEND_EMAIL_KEVIN_HARLY=re_GHTALCbY_Pmc3VP2P5f7niDE11NzWbTY4
RESEND_API_KEY=re_GHTALCbY_Pmc3VP2P5f7niDE11NzWbTY4
RESEND_SENDER_EMAIL=onboarding@resend.dev
FINNHUB_API_KEY=your_finnhub_api_key
